body {
  font-family: sans-serif;
  color:green;
}

table th {
  padding: 5px;
}

.content-page {
    padding: 70px 0;
    text-align: center;
}

.mascot-spin {
    -webkit-animation: mrT 2.5s infinite ease;
    animation: mrT 2.5s infinite ease;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
}

@keyframes mrT {
0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
}
